.multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    text-overflow: "...devamını gör";
}

.carousel.slide {
    max-width: 1440px;
    [class^="carousel-control"] {
        display: none;
    }
    .carousel-indicators {
        height: 58px;
        margin: 0;
        padding-right: 120px;
        justify-content: flex-end;
        align-items: center;
        background: #00000066;
        button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}